* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
} 
img {
	vertical-align: middle;
}
.wrap {
	padding: 20px 10px;
	h1 {
		padding-left: 10px;
		small {
			color: #aaa;
			display: block;
			font-size: 16px;
			margin-top: 15px;
		}
	}
}
.rotate-img {
	margin-top: 10px;
	width: 100%;
	&:after {
		clear: both;
		content: '';
		display: table;
	}
	.enter {
		cursor: pointer;
		float: left;
		padding: 10px;
		position: relative;
		&:after {
			bottom: 9px;
			border: 1px solid #eee;
			border-radius: 7px;
			content: '';
			left: 9px;
			position: absolute;
			right: 9px;
			top: 9px;
			z-index: 0;
		}
	}
	.bar {
		border: 10px solid #fff;
		border-radius: 7px;
		height: 186px;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 280px;
		z-index: 1;
	}
	.img {
		left: 50%;
		max-height: 166px;
		/*max-width: 280px;*/
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}