* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
img {
	vertical-align: middle;
}
.wrap {
	padding: 20px 10px;
	h1 {
		padding-left: 10px;
		small {
			color: #aaa;
			display: block;
			font-size: 16px;
			margin-top: 15px;
		}
	}
}
.rotate-img {
	margin-top: 10px;
	width: 100%;
	&:after {
		clear: both;
		content: '';
		display: table;
	}
	.enter {
		cursor: pointer;
		float: left;
		padding: 10px;
		position: relative;
		&:after {
			bottom: 9px;
			border: 1px solid #eee;
			border-radius: 7px;
			content: '';
			left: 9px;
			position: absolute;
			right: 9px;
			top: 9px;
			z-index: 0;
		}
	}
	.bar {
		border: 10px solid #fff;
		border-radius: 7px;
		height: 186px;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 280px;
		z-index: 1;
	}
	.img {
		left: 50%;
		max-height: 166px;
		/*max-width: 280px;*/
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.light-box {
	background-color: transparent;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 0.2s;
	width: 100%;
	z-index: 1001;
	&.show {
		display: block;
	}
	&.show-visible {
		background-color: rgba(0,0,0,.5);
	}
	.light-box-cnt {
		background-color: hsla(0,0%,99%,.95);
		background-clip: padding-box;
		border-radius: 6px;
		cursor: move;
		left: 50%;
		min-width: 200px;
		min-height: 100px;
		overflow: hidden;
		pointer-events: auto;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.layer {
		background-color: #fff;
		bottom: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 45px;
		z-index: 2;
		&.active {
			display: block;
			&:after {
				animation: whirl 1s infinite linear;
			}
		}
		&:after {
			background: url("../img/loading.png") no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			content: '';
			display: block;
			height: 50px;
			left: 50%;
			margin: -25px 0 0 -25px;
			position: absolute;
			top: 50%;
			width: 50px;
			z-index: 3;
		}
	}
	.light-box-hd {
		position: relative;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}
	.title {
		color: #333;
		display: -webkit-box;
		font-size: 16px;
		height: 45px;
		line-height: 45px;
		overflow: hidden;
		padding: 0 90px 0 10px;
		text-align: left;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-box-flex: 1;
		-webkit-line-clamp: 1;
		&:after {
			content: " ";
			height: 1px;
			position: absolute;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			border-bottom: 1px solid #ddd;
			bottom: 0;
			left: 0;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
			width: 100%;
		}
	}
	.icon {
		cursor: pointer;
		display: inline-block;
		line-height: 18px;
		position: relative;
		vertical-align: middle;
		&:before {
			background: no-repeat;
			background-size: 20px 20px;
			content: '';
			display: inline-block;
			height: 20px;
			vertical-align: middle;
			width: 20px;
		}
	}
	.icon-close,
	.icon-rotate {
		height: 45px;
		line-height: 45px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 45px;
		z-index: 1;
	}
	.icon-close {
		right: 0;
		&:before {
			background-image: url("../img/close.png");
		}
	}
	.icon-rotate {
		right: 45px;
		&:before {
			background-image: url("../img/rotating.png");
		}
	}
	.light-box-bd {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		padding: 15px;
		position: relative;
		text-align: center;
		user-select: none;
	}
	.img {
		//		max-height: 470px;
		//		min-height: 200px;
	}
	.light-box-ft {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}
@keyframes whirl {
	0% {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}